body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
img{border:none;}
li
{
    list-style: none;
}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
/*清浮动*/
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}
.clearfix
{
    zoom: 1;
}
/* banner */
.banner
{
    width: 620px;
    height: 390px;
    position: relative;
    overflow: hidden;
    /*margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;*/
}
.banner-btn{display:none;}
.banner-btn a
{
    display: block;
    line-height: 40px;
    position: absolute;
    top: 120px;
    width: 40px;
    height: 40px;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 4;
}
.prevBtn
{
    left: 5px;
}
.nextBtn
{
    right: 5px;
}
.banner-img
{
    font-size:0;
    *word-spacing:-1px;/* IE6、7 */ 
    letter-spacing:-3px;
    position:relative; 
}
.banner-img li
{
    display:inline-block;
    *display:inline;
    *zoom:1;/* IE6、7 */ 
    vertical-align:top;
    letter-spacing:normal;
    word-spacing:normal;
    font-size:12px; 
}
.banner i
{
    background:url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png)  no-repeat;
    width:15px;
    height:23px;
    cursor:pointer;
    margin:8px 0 0 12px;
    display:block;
}
.banner .nextBtn i
{
    background-position: -200px -24px;
}
.banner .prevBtn i{background-position:-200px 0px;}
.banner-circle
{
    position: absolute;
    left: 50%;
    bottom: 15px;
    height: 13px;
    text-align: center;
    font-size: 0;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    filter: alpha(opacity:30);
}
.banner-circle li
{
    border-radius: 10px;
    margin: 2px;
    display: inline-block;
    display: -moz-inline-stack;
    vertical-align: middle;
    zoom: 1;
}
.banner-circle li a
{
    display: block;
    padding-top: 9px;
    width: 9px;
    height: 0;
    border-radius: 50%;
    background: #B7B7B7;
    overflow: hidden;
}
.banner-circle .selected a
{
    background: #F40;
}
