body {
}
.td1 {
    width:300px;
    height:35px;
    text-align:right;
    font-family:微软雅黑;
    font-size:12px;
}
.td2{
    width:200px;
}
.td3 {
    width:230px;
}
.td4
{
    margin-top:10px;
    width:300px;
    height:35px;
    text-align:right;
    font-family:微软雅黑;
    font-size:12px;
}
.txtinput {
    border:1px solid rgb(219, 222, 222);
    height:20px;
    width:190px;
}
.login
{
    margin-top:100px;
    text-align:center;
}